@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy-Medium"), url("/font/Gilroy-Medium.woff") format("woff"),
    url("/font/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy-SemiBold"),
    url("/font/Gilroy-SemiBold.woff") format("woff"),
    url("/font/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy-Bold"), url("/font/Gilroy-Bold.woff") format("woff"),
    url("/font/Gilroy-Bold.ttf") format("truetype");
}
